images/conv512x512/lena_Convolution13x13.png
images/conv512x512/lena_ConvolutionDilate.png
images/conv512x512/lena_ConvolutionDilateErode.png
images/datafuncs/img2_Blur.png
images/datafuncs/img2_BlurThre.png
images/datafuncs/img2_BlurThreInvert.png
images/datafuncs/img2_BlurThreInvertSwap.png
images/demo/img2_BlurThreInvert.png
images/demo/img2_BlurThreInvertSwap.png
images/demo/img2_BlurThreMaxSwapMin.png
images/demo/img2_SwapBlur.png
